q.DS_Store
Thumbs.db
*.log
node_modules/
public/
.deploy*/
node_modules/*
public/*
_config_.yml
.DS_Store
.idea/*

_config_livemylife.yml
!themes/livemylife/_config.yml

source/_posts/en/**
!source/_posts/en/Hexo-Theme-LiveMyLife
!source/_posts/en/Hexo-Theme-LiveMyLife/*.png
!source/_posts/en/Hexo-Theme-LiveMyLife.md


.gitlab-ci.yml
db.json
